.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.App-logo {
  height: 7vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #20232a;
  min-height: 10vh;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 15px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box-titulo {
  background-color: #282c34;
  height: 20rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.box-titulo h1 {
  font-size: 32px;
  color: #61dafb;
  margin: 0;
}

.box-titulo p {
  font-size: 24px;
  color: #fff;
}

.box-titulo a {
  text-decoration: none;
  color: #282c34;
  background-color: #61dafb;
  padding: 10px;
  width: 90px;
  font-size: 16px;
  border-radius: 4rem;
  font-weight: 400;

}

.box-requisitos {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box-requisitos h2 {
  font-weight: bold;
  font-size: 26px;
}

.box-requisitos p {
  font-size: 19px;
}

.box-conteudo {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.conteudo h3 {
  color: #ffd000da;
}

.conteudo {
  color: #fff;
  background-color: #20232a;
  border-radius: 5px;
  padding: 10px;
  max-width: 20rem;
  height: 10rem;
  box-shadow: 5px 5px 8px 2px #000000;  
}

footer {
  padding: 20px;
}